<footer>
    <div class="bio">
        <h3>Your host</h3>
        <picture>
            <source type="image/webp" srcset="/img/tim-headshot.webp">
            <img src="/img/tim-headshot.jpg" alt="Headshot of Tim Kadlec"/>
        </picture>
        <p><a href="https://timkadlec.com">Tim Kadlec</a> is a web performance consultant helping organizations increase revenue, improve engagement and expand their reach by ensuring their sites perform quickly (no matter the device or network) and are accessible to all.</p>
        <ul class="follow-list">
            <li><a href="https://timkadlec.com">Website</a></li>
            <li><a href="https://twitter.com/tkadlec">Twitter</a></li>
        </ul>
    </div>
    <div class="about">
        <h3>Get in touch</h3>
        <p>Interested in being a guest on the podcast or sponsoring? Drop me an email at <a href="mailto:tim@timkadlec.com">tim@timkadlec.com</a> and let's chat.</p>
        <h3>Thank you!</h3>
        <p>Huge thanks to <a href="https://editaud.io">Steph Colbourn</a> for making the podcast sound great and transcribing. Thanks to <a href="https://www.youtube.com/channel/UCDW4GF1L_ogK4OZtz_gB-zw">Daryl Banner</a> for graciously providing the great 8-bit music.</p>
    </div>
    <p class="copy">Created by <a href="https://timkadlec.com">Tim Kadlec</a>.</p>
</footer>
<script type="text/javascript">
if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
        navigator.serviceWorker.register('/sw.js', {
            scope: '/'
        });
    });
}
</script>