---
title: "Guest Notes: Chasing Waterfalls Podcast"
---
{% include siteHead.html %}
<body id="guestNotes">
    <header>
        <img src="/img/logo.svg" alt="Chasing Waterfalls Logo">
        <p>Conversations with the people working to make the web faster for everyone, hosted by <a href="https://timkadlec.com">Tim Kadlec</a>.</p>
    </header>
    <main>
        <h2>Tips for recording</h2>
        <p>Thanks for agreeing to be on the podcast! Here are a few helpful things to keep in mind to help us both sound as good as possible.</p>
        <h3>Recording</h3>
        <p>We'll be recording the show over Skype (my username is 'tjkadlec'). I'm going to be recording the Skype call directly, but the quality from that won't be the best so that's just a backup. To get the best possible quality, we'll both need to record our own audio locally.</p>
        <p>QuickTime should work just fine for this. If you open up QuickTime and go to File > New Audio Recording, you'll get the recording controls.</p>
        <img src="/img/quicktime-settings.jpg" alt="An image of the Quicktime Recording settings, showing the Quality selector" />
        <ol>
            <li>Click the little arrow next to the recording button.</li>
            <li>Select "Maximum" Quality and the correct microphone (if you have a few options)</li> <li>Drag the volume slider all the way to the left (which turns it off)</li>
        </ol>
        <p>While you're talking, you should see the white bars moving up and down. We probably don't want them going any higher than 75% or so for the most part, but we also don't want them to barely be moving at all. If you find you're not moving much, or the bars are reaching the top consistently, then you'll need to go to System Preferences > Sound > Input > Input Volume and adjust until things are a bit more settled.</p>
        <h3>Environment</h3>
        <p>The quieter your location, and the better the internet, the more likely the recording will go well. That means we want to avoid background noise as much as possible and have a private place to record.</p>
        <p>To give us the best shot at appeasing the internet gods, there are a few things to try before recording:</p>
        <ul>
            <li>Connect to the internet with an ethernet cable if at all possible</li>
            <li>Turn it on and off again. I know, I know. I have no idea if this helps much or not, but it makes me rest a little easier if I restart the computer before recording, and kill as many applications not named "Skype" and "Quicktime" as possible.</li>
            <li>Speaking of killing other apps, if you have Dropbox or Google Drive or Evernote or some other app running that likes to periodically sync, pausing or quitting them altogether will help keep your connection nice and fast.</li>
        </ul>
        <h3>Equipment</h3>
        <p>Don't worry...you don't need to run out and buy a ton of quipment just because you're on one little podcast. If you've got an external mic, that's great. If not, you can record off the built-in Mic and we should be fine.</p>
        <p>The big one here is to put on some headphones so that we keep feedback to a minimum. Again, it doesn't have to be anything fancy...just something comfy.</p>
        <h3>After the recording</h3>
        <p>After we're all done, you can drop the QuickTime recording into Dropbox or something like that and send me the link. Someone (<a href="https://editaud.io/">hey Steph!</a>) who is great at what she does is going to take the audio and make us both sound as good as possible. She'll also make sure the episode gets transcribed.</p>
        <p>When the final recording is ready, I'll send it your way so that you can do a quick review and just make sure there's nothing you've decided maybe you shouldn't have said and need pulled up.</p>
        <h3>Anything else?</h3>
        <p>If you have any other questions at all about the podcast, let me know!</p>
    </main>
    <footer></footer>
    <script type="text/javascript">
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', {
            scope: '/'
        });
    }
    </script>
</body>
</html>
