{% include head.html %}
<body>
    <main>
        <img src="/img/logo.svg" alt="Chasing Waterfalls logo">
        <p>Conversations with the people working to make the web faster for everyone, hosted by <a href="https://timkadlec.com">Tim Kadlec</a>.</p>
        <ul class="subscribe-list">
            <li><a href="https://open.spotify.com/show/3p2hroz3EJ40dbZyVOptQX"><img src="/img/spotify-icon.png" alt="Subscribe on Spotify" /></a></li>
            <li><a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkcy5zaW1wbGVjYXN0LmNvbS9rdkg4S0ZHaw%3D%3D"><img src="/img/google-podcasts-icon.png" alt="Subscribe with Google Podcasts" /></a></li>
            <li><a href="https://feeds.simplecast.com/kvH8KFGk"><img src="/img/rss-icon.png" alt="Subscribe via RSS" /></a></li>
        </ul>
        <iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/d11f5e02-9d79-4fc9-8590-bee34200eaa9?dark=true"></iframe>
        <p class="copy">Interested in being a guest on the podcast or sponsoring? <a href="mailto:tim@timkadlec.com">Get in touch.</a></p>
    </main>
    <script type="text/javascript">
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', {
            scope: '/'
        });
    }
    </script>
</body>
</html>