{% include head.html %}
<body>
    <main>
        <img src="/img/logo.svg" alt="Chasing Waterfalls logo">
        <p>Conversations with the people working to make the web faster for everyone, hosted by <a href="https://timkadlec.com">Tim Kadlec</a>.</p>
        <iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/d11f5e02-9d79-4fc9-8590-bee34200eaa9?dark=true"></iframe>
        <p class="copy">Interested in being a guest on the podcast or sponsoring? <a href="mailto:tim@timkadlec.com">Get in touch.</a></p>
    </main>
    <script type="text/javascript">
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', {
            scope: '/'
        });
    }
    </script>
</body>
</html>